* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #0a0830;
}

.currency-logo {
    width: 250px; 
    align-items: center;
}

main {
    background-color: #d1d6e3;
    width: 375px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 4px 5px 20px gray;
    padding: 20px;
}

label {
    font-size: 14px;
    line-height: 18px;
    color: #777;
    margin-bottom: 10px;
    padding: 2px;
}

button, select, input {
    border-radius: 4px;
    width: 327px;
    height: 48px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    border-style: none;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

input {
    padding: 2px;
}

button {
    margin: 23px 0 20px;
    background-color: #0a0830;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: 2px solid  #0a0830
  
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.arrow-img {
    margin: 10px 0;
}

.currency-name {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.currency-value, .currency-converted {
    color: #555;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}

@media screen and (max-width: 400px) {
    main {
        max-width: 350px;
    }  
}
